// Ecard Plantilla

body {
    --bg-light-color: #ffffff;
    --bg-dark-color: #1d1e22;
    --main-color: #c03a3a;
    --text-color: #333333;
    --color-black: #000000;
    --white-color: #ffffff;
    --color-gray-lighter: #c1bcbc;
    --color-gray-light: #818a91;

    color: var(--text-color);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

// Main

.header-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -2;

    &.header-bg-color {
        background-color: var(--header-bg-color);
    }
    &.header-bg-gradient {
        background-image: var(--header-bg-gradient);
        background-repeat: no-repeat;
    }
    &.header-bg-image {
        background-image: var(--header-bg-image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &:after {
        background-color: rgba(0,0,0,0.35);
        content: "";
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: -1;
    }
}

.header {
    color: var(--header-text-color);
    padding: 2rem 0;

    .wrapper {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
    }
}

.header-logo {
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;

    &.header-logo-bg {
        background-color: var(--logo-bg);
    }
    img {
        height: auto;
        display: block;
        width: 32rem;

        @media screen and (max-width:600px) {
            width: 18rem;
        }
    }
}

.header-profile {
    background-image: var(--profile-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    margin-bottom: 0.8rem;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    width: 150px;

    img {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 100%;
    }
}

.header-description {
    font-weight: normal;
    font-size: 1.8rem;
    text-align: center;

    &.header-name {
        font-size: 1.8rem;
        font-weight: normal;
    }
    &.header-cargo {
        text-align: center;
    }
    &.header-company {
        text-align: center;
    }
}

.content-description {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

// Datos

.content-contact-list {
    ul {
        align-items: center;
        list-style-type: none;
        margin: 2rem 0;
        padding: 0;

        li {
            position: relative;

            &:before {
                bottom: 0;
                content: "";
                left: 10%;
                position: absolute;
                width: 80%;
            }
            &:last-child:before {
                border-bottom: 0;
            }
        }
    }
    .icon {
        align-items: center;
        background-color: var(--header-text-color);
        border-radius: 50%;
        display: flex;
        flex-flow: row nowrap;
        height: 2.6rem;
        justify-content: center;
        padding: 0;
        width: 2.6rem;

        i {
            color: var(--main-color);
            font-size: 2em;
        }
    }
    .list-item-el {
        align-items: center;
        color: var(--header-text-color);
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        justify-content: center;
        margin: 0;
        padding: 1rem 1rem;
        text-align: center;
        text-decoration: none;
    }
    a {
        &:hover,
        &:active {
            color: var(--main-color);
        }
    }
    .break-word {
        word-break: break-all;
    }

    @media screen and (max-width:600px) {
        a,
        span {
            padding: 0.8rem 0;
        }
    }
}

// Actions

.header-actions {
    margin: 4rem 0;
    width: 100%;

    .wrapper {
        align-items: flex-start;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        justify-content: space-around;
        padding: 1rem 0;
        width: 100%;
    }

    .header-action {
        align-items: center;
        box-sizing: border-box;
        border: 0;
        border-radius: 0.6rem;
        color: var(--header-text-color);
        cursor: pointer;
        display: flex;
        flex: 1 1 calc(50% - 1rem);
        flex-flow: column nowrap;
        font-size: 1.6rem;
        gap: 1rem;
        position: relative;
        text-align: center;
        text-decoration: none;

        i {
            color: var(--header-text-color);
            font-size: 3rem;
        }

        span {
            display: flex;
        }

        &:hover {
            color: var(--bg-dark-color);

            i {
                color: var(--bg-dark-color);
            }
        }

        @media screen and (max-width:800px) {
            flex: 1 1 100%;
            font-size: 1.3rem;
            text-align: center;
        }
    }
}

// Social

.content-social-list {
    margin: 1rem 0;
    text-align: center;

    ul {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        justify-content: center;
        list-style-type: none;
        padding: 0;

        li {
            a {
                background-color: var(--main-color);
                border-radius: 50%;
                display: block;
                padding: 1rem;
                text-decoration: none;

                &:hover,
                &:active {
                    background-color: var(--bg-dark-color);
                }
            }
            i {
                color: var(--white-color);
                font-size: 1.65rem;
            }
        }

        /* Arreglando gap para iPhone */
        @supports (-webkit-touch-callout: none) and (not (translate: none)) {
            li {
                margin-bottom: 5%;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}

// Footer

.footer {
    background-color: var(--color-black);
    color: var(--color-gray-lighter);
    font-size: 1rem;
    font-weight: normal;
    padding: 1rem 0 2.5rem 0;
    text-align: center;

    p {
        margin: 0;
    }
    a {
        color: var(--white-color);

        &:hover {
            text-decoration: none;
        }
    }
}

// Card

.header-card {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

// Botón

.action-black-button {
    background-color: var(--bg-dark-color);
    border: 0;
    border-radius: 1.3rem;
    color: var(--white-color);
    cursor: pointer;
    display: inline-block;
    padding: 0.8rem 2rem;
    text-decoration: none;

    &:hover,
    &:active {
        background-color: var(--main-color);
        color: var(--white-color);
        font-weight: normal;
    }
}
